@import "tailwindcss";

/* Prevent horizontal overflow globally */
html,
body,
#root {
  overflow-x: hidden;
  max-width: 100vw;
}

.swiper-pagination-bullet {
  border: 1px solid white;
}
.swiper-pagination-bullet-active {
  background: white;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input {
  @apply w-full border border-gray-300 rounded-lg px-4 py-2 text-sm outline-none focus:border-black focus:ring-1 focus:ring-black transition;
}

.inputDark {
  @apply w-full px-4 py-2 rounded-lg 
  bg-[#1F2937] 
  border border-[#2D3748]   /* 👈 visible dark border */
  text-gray-200 placeholder-gray-400 
  outline-none transition duration-200

  hover:border-gray-600     /* 👈 hover effect */
  focus:border-indigo-500   /* 👈 active highlight */
  focus:ring-1 focus:ring-indigo-500;
}